<nz-collapse style="margin-bottom: 20px;">
  <nz-collapse-panel [nzHeader]="panels2.name1" [nzActive]="true">
    <div nz-row [nzGutter]="40">
      <div nz-col class="gutter-row" [nzSpan]="8">
        <!--<div class="grid-config">Column</div>-->
          <img class="grid-config" src="https://byx-cpd.oss-cn-hangzhou.aliyuncs.com/byx-bg.jpg" alt="www.baidu.com">
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="8">
        <div class="grid-config">Column</div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse style="margin-bottom: 20px;">
  <nz-collapse-panel [nzHeader]="panels2.name1" [nzActive]="true">
    <div nz-row [nzGutter]="40">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="grid-config">Column</div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse style="margin-bottom: 20px;">
  <nz-collapse-panel [nzHeader]="panels2.name1" [nzActive]="true">
    <div nz-row [nzGutter]="40">
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="12">
        <div class="grid-config">Column</div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<nz-collapse style="margin-bottom: 20px;">
  <nz-collapse-panel [nzHeader]="panels2.name1" [nzActive]="true">
    <div nz-row [nzGutter]="40">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <div class="grid-config">Column</div>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>
<!--<nz-collapse style="height: 20vh; margin-bottom: 20px;">-->
<!--<nz-collapse-panel  [nzHeader]="panels2.name1" [nzActive]="true" >-->
<!--<div style="height: 10vh;"></div>-->
<!--</nz-collapse-panel>-->
<!--</nz-collapse>-->

<!--<nz-collapse  style="height: 20vh;margin-bottom: 20px;">-->
<!--<nz-collapse-panel  [nzHeader]="panels2.name1" [nzActive]="true"  [nzShowArrow]="false">-->
<!--<div></div>-->
<!--</nz-collapse-panel>-->
<!--</nz-collapse>-->

<!--<nz-collapse style="height: 20vh;margin-bottom: 20px;">-->
<!--<nz-collapse-panel  [nzHeader]="panels2.name1" [nzActive]="true"  [nzShowArrow]="false">-->
<!--<div ></div>-->
<!--</nz-collapse-panel>-->
<!--</nz-collapse>-->

<!--<nz-collapse style="height: 20vh;">-->
<!--<nz-collapse-panel  [nzHeader]="panels2.name1" [nzActive]="true"  [nzShowArrow]="false">-->
<!--<div ></div>-->
<!--</nz-collapse-panel>-->
<!--</nz-collapse>-->


