<!--菜单menu-->
<ul nz-menu [nzMode]="'horizontal'" nzTheme='dark'>
  <li nz-menu-item><i class="anticon anticon-mail"></i> Navigation One</li>
  <li nz-menu-item><i class="anticon anticon-appstore"></i> Navigation Two</li>
  <li nz-submenu>
    <span title><i class="anticon anticon-setting"></i> Navigation Three - Submenu</span>
    <ul>
      <li nz-menu-group>
        <span title>Item 1</span>
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>Item 2</span>
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu>
            <span title>Sub Menu</span>
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled>
            <span title>Disabled Sub Menu</span>
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item>
  <li nz-menu-item (click)="open()"><i class="anticon anticon-laptop"></i>Login in</li>
</ul>

<!--弹出登录框-->
<div>
  <nz-drawer [nzClosable]="false" [nzOffsetX]="childrenVisible ? 180 : 0" [nzWidth]="320" [nzVisible]="visible"
             nzTitle="用户登录" (nzOnClose)="close()">

    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-user">
            <input type="text" nz-input formControlName="userName" placeholder="Username">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please
            input your username!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-lock">
            <input type="password" nz-input formControlName="password" placeholder="Password">
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please
            input your Password!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
          Or
          <a (click)="openChildren()">register now!</a>
        </nz-form-control>
      </nz-form-item>
    </form>

    <!--弹出新用户注册页面-->
    <nz-drawer [nzClosable]="false" [nzVisible]="childrenVisible" [nzWidth]="320" nzTitle="新用户注册"
               (nzOnClose)="closeChildren()">
      <form nz-form [formGroup]="validateForm2" class="login-form" (ngSubmit)="submitForm2()">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input type="text" nz-input formControlName="userName" placeholder="Username">
            </nz-input-group>
            <nz-form-explain *ngIf="validateForm2.get('userName').dirty && validateForm2.get('userName').errors">Please
              input your username!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <div nz-row [nzGutter]="8">
              <div nz-col [nzSpan]="12">
                <nz-input-group nzPrefixIcon="anticon anticon-lock">

                  <input nz-input formControlName="captcha" id="captcha">
                </nz-input-group>
              </div>
              <div nz-col [nzSpan]="12">
                <button nz-button (click)="getCaptcha($event)">获取验证码</button>
              </div>
            </div>

            <nz-form-explain *ngIf="validateForm2.get('captcha').dirty && validateForm2.get('captcha').errors">Please
              input your username!
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button" [nzType]="'primary'">Register</button>
          </nz-form-control>
        </nz-form-item>
      </form>

    </nz-drawer>

    <div style="height: 30px;"></div>
    <nz-divider nzText="其他登录方式"></nz-divider>
    <div class="qrcode">
      <img style="width: 200px; height: 200px;" src="https://byx-cpd.oss-cn-hangzhou.aliyuncs.com/wcp/login_wechat.png"
           alt="">
    </div>
    <p style="text-align: center">微信扫码授权登录</p>
  </nz-drawer>
</div>
