.border{
  /*border: 1px solid red;*/
  height: 94vh;
  width: 100vw;
}
.menu{
  position: fixed;
  top:30px;
  right: 80px;
}
[nz-carousel-content] {
  text-align: center;
  height: 94vh;
  width: 100vw;
  background: #364d79;
  color: #fff;
}

h3 {
  color: #fff;
}
