.outer {
  height: 100%;
  width: 100%;
  position: relative;
}

.A {
  height: 96vh;
  background: #BBE8F2;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  width: 100%;
}

.B {
  width: 100%;
  height: 4vh;
  color: white;
  background-color: black;
}

:host {
  text-align: center;
}

:host ::ng-deep .ant-layout-header,
:host ::ng-deep .ant-layout-footer {
  background: black;
  color: #fff;
}

:host ::ng-deep .ant-layout-footer {
  height: 6vh;
}

:host ::ng-deep .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}

:host ::ng-deep .ant-layout-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  height: 94vh;
  line-height: 120px;
}

:host > ::ng-deep .ant-layout {
  margin-bottom: 48px;
}

:host ::ng-deep .ant-layout:last-child {
  margin: 0;
}
